<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/config.css" rel="stylesheet">

<%- include('header') -%>

<body>
    <main class="column">
        <div class="config-main column">
            <h2 class="subtitle">Select repository</h2>
            <form class="column" method="post" action="/b3/config">
                <select class="rep-select" name="repository_id" id="repository_id"> 
                  <% for (let i = 0; i < projects.length; i++) { %>
                      <option value="<%= `${projects[i].id}` %>"><%= `${projects[i].name}` %></option> 
                  <% } %>
                </select>
                <input class="rep-submit border-button" type="submit" value="Save">
            </form>
        </div>
    </main>
</body>

<%- include('footer') -%>