<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/config.css" rel="stylesheet">

<body>
    <main class="column">
        <form class="column" method="post" action="/b3/config">
          <div class="form-row row">
            <p>https://</p>
            <input class="bigger-input" type="text" name="base_url" placeholder="gitlab.example.com">
            <p>/api/v4/</p>
            <input class="smaller-input" type="text" name="repository_id" placeholder="12345">
          </div>
          <input type="submit" value="Proceed">
        </form>
    </main>
</body>

<%- include('footer') -%>
