<link rel="icon" href="img/favicon.png">

<header class="row">
    <div class="logo header-col-3 row">
        <img src="/img/mitch.png">
        <h1>MitchLab</h1>
    </div>

    <div class="header-col-3 row">
        <a href="/b3">
            <div class="header-button blue-button row">
                Home
            </div>
        </a>
        <a href="/b3/issue">
            <div class="header-button blue-button row">
                Issues
            </div>
        </a>
        <a href="/b3/config">
            <div class="header-button blue-button row">
                Config
            </div>
        </a>
        <a href="/b3/auth/logout">
            <div class="header-button blue-button row">
                Log out
            </div>
        </a>
    </div>
</header>
