<!DOCTYPE html>

<header class="row">
    <div class="header-col-3 row">
        
    </div>

    <div class="header-col-3 row">
        <div class="header-button blue-button row">
            <a href="/b3/issue">I</a>
        </div>
        <div class="header-button blue-button row">
            <a href="/b3/config">S</a>
        </div>
        <div class="header-button blue-button row">
            <a href="/b3/auth/logout">L</a>
        </div>
    </div>
</header>

<script>
  
</script>