<!DOCTYPE html>

<header class="row">
    <div class="logobox">
        <a class="row" href="/crud/">
            <img src="/img/mitch.png">
            <h1 class="pink">Mitch's </h1>
            <h1 class="white">GitLab App</h1>
        </a>
    </div>
    <div class="inputbox">
        <form>
            <input id="baseUrl" name="base_url" value="aaaa">
        </form>
    </div>
    <div></div>
</header>

<script>
  
</script>