<!DOCTYPE html>

<header class="row">
    <div class="logobox">
        <a class="row" href="/crud/">
            <img src="/img/mitch.png">
            <h1 class="pink">Mitch's </h1>
            <h1 class="white">GitLab App</h1>
        </a>
    </div>
</header>
