<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/home.css" rel="stylesheet">
<title>Mitch's Home</title>

<%- include('header') -%>

<body>
    <main class="column">
        <p>Nothing much here, head to issues!</p>
    </main>
</body>

<%- include('footer') -%>