<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/config.css" rel="stylesheet">

<%- include('header') -%>

<body>
    <main class="column">
        <p>Home :)</p>
    </main>
</body>

<%- include('footer') -%>