<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/issues.css" rel="stylesheet">

<%- include('header') -%>

<main class="row">
    <div class="main-content-box column">
        

        <%- include('footer') -%>
    </div>

</main>
