<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/unauthenticated.css" rel="stylesheet">

<body>
    <main class="column">
        <a href="/b3/auth/request"><p>Log in via GitLab!</p></a>
    </main>
</body>

<%- include('footer') -%>