.border-button {
  background-color: #e574dd62;
  border: 2px solid #e574d4;
  color: white;
}

.border-button:hover {
  cursor: pointer;
  background-color: #be5ac75c;
  border: 2px solid #c75ac7;
}

.border-button:active {
  background-color: #cf4ac859;
  border: 2px solid #cf4ac2;
}

.blue-button {
  background-color: #e574da;
  color: white;
}

.blue-button:hover {
  cursor: pointer;
  background-color: #c75ab5;
}

.blue-button:active {
  background-color: #cf4acf;
}