.config-main {
  margin: 10px;
  padding: 10px;
  justify-content: start;
  border: solid #3a3a3e;
  background-color: #222225;
  border-width: 1px 1px 1px 1px;
}

.config-main .subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0px 0px 0px;
}

.config-main form {
  gap: 5px;
}

.rep-select {
  padding: 10px 5px 10px 5px;
  background-color: rgba(255, 255, 255, 0.286);
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.5em;
}

.rep-submit {

}