footer {
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px 0px 0px;
}

footer img {
  max-height: 30px;
  width: auto;
}

footer p {
  font-weight: normal;
  color: gray;
}