/*
Miscellaneous / General
*/
p {
  margin: 0;
  white-space: pre-wrap;
}

.gray {
  color: gray;
}

.basic-button {
  font-size: 15px;
  border-radius: 5px;
}

.wrap-row {
  flex-wrap: wrap;
  gap: 10px;
}

.rounded {
  border-radius: 5px;
  overflow: hidden;
}

/*
Left side issue scroll
*/
.issue-scroll {
  border: solid #37373e;
  border-width: 0px 1px 1px 0px;
  width: 25%;
  min-height: calc(100vh - 110px);
}

.issue-entry {
  width: 100%;
  height: fit-content;
  padding: 10px;
  font-size: 1em;
  text-align: left;
  border: solid #37373e;
  border-width: 0px 0px 1px 0px;
  color: white;
  background-color: transparent;
}

.issue-entry:hover {
  cursor: pointer;
  background-color: rgb(36, 36, 36);
}

/*
Gallery
*/
main .gallery {
  width: 75%;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: solid #37373e;
  border-width: 0px 0px 1px 0px;
}

/*
Main gallery display
*/
.gallery-main {
  width: 100%;
  gap: 10px;
}

/*
Title & below title rows
*/
.title-row {
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 5px 0px;
  border: solid white;
  border-width: 0px 0px 1px 0px;
}

.gallery .title-row .title {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.centered-row {
  align-items: center;
  gap: 10px;
}

.gallery .subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0px 0px 0px;
}

.gallery-item {
  border: solid #3a3a3e;
  background-color: #222225;
  border-width: 1px 1px 1px 1px;
  padding: 10px;
  gap: 5px;
}

/*
Status
*/
.gallery .status {
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.gallery .status-opened {
  background-color: rgb(122, 198, 134);
}

.gallery .status-closed {
  background-color: rgb(193, 92, 92);
}

.gallery .status-unknown {
  background-color: rgb(99, 141, 182);
}

/*
Activity
*/
.activity-column {
  gap: 10px;
}

.system-note {
  gap: 10px;
}

.system-note .activity-gutter {
  width: 40px;
  align-items: center;
}

.system-note .activity-gutter p {
  text-align: center;
}

.user-note {
  gap: 10px;
}

.user-avatar img {
  width: 40px;
  height: auto;
  border-radius: 20px;
}

.user-note .user-comment {
  padding: 10px;
  border: 1px solid white;
}

.user-note .user-comment .user-comment-author {
  margin: 0px 0px 5px 0px;
  border: solid white;
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 5px 0px;
}

/*
New comment
*/
.comment-form {
  gap: 5px;
  align-items: end;
}

.new-comment-area {
  white-space: pre-wrap;
  color: white;
  margin: 0;
  padding: 3px 3px 3px 3px;
  height: 80px;
  width: 100%;
  font-size: 15px;
  resize: none;
  outline: none;
  border: white solid;
  border-width: 0px 0px 3px 0px;
  background-color: #222225;
}

/*
Labels
*/
.issue-label {
  background-color: rgb(101, 91, 139);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}