/* Main Container */
header {
  background-color: #222225;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

header .logo img {
  max-height: 60px;
  width: auto;
  padding-left: 10px;
  padding-right: 3px;
}

header .logo h1 {
  color: rgb(184, 111, 177);
  font-size: 30px;
}

.header-col-3 {
  height: 60px;
  max-height: 60px;
  align-items: center;
  gap: 10px;
  padding: 0px 10px 0px 0px;
}

.header-button {
  height: 40px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-button a {
  font-size: 1.5em;
  text-decoration: none;
}