.issue-scroll {
  background-color: rgb(52, 52, 52);
  width: 20%;
}

.issue-entry {
  height: 40px;
  background-color: bisque;
  border: brown;
}

.issue-entry p {
  margin: 0;
}

.gallery .title {
  margin: 0;
}

.gallery .button {
  border: solid rgb(174, 174, 174) 1px;
  background-color: white;
}
