@import url('header.css');
@import url('footer.css');
@import url('main.css');
@import url('button.css');


html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #3c3c3c;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}